<h1>LIST OF STORES</h1>
<img src="~/images/MelbCBD.png" alt="Cars" width="50%" align="middle"><br/>
<img src="~/images/NorthMelb.png" alt="Cars" width="50%"><br/>
<img src="~/images/SouthMelb.png" alt="Cars" width="50%"><br/>
<img src="~/images/WestMelb.png" alt="Cars" width="50%"><br/>
<img src="~/images/EastMelb.png" alt="Cars" width="50%">

<input type='button' class="btn btn-default" value='Display Products' onclick='window.location = "@Url.Action("Customer", "Customer")";' />


<style>
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
h1{
    color: #008080;
    text-align:center;
    }  
    .w3-button w3-round-xlarge{
    background-color: #008080;
    color: beige;
    }
    .btn-default{
       color: beige;
    background-color: teal;
    border-color: #ccc;
     position: absolute;
    top: 50%;
    }
</style>