<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<body>

<div class="w3-sidebar w3-bar-block w3-card w3-animate-left" style="display:none" id="mySidebar">
  <button class="w3-bar-item w3-button w3-large"
  onclick="w3_close()">Close &times;</button>
<!--  <a href="~/Owner/ResetStock" class="w3-bar-item w3-button">Link 1</a>-->
  <a asp-area="" asp-controller="Owner" asp-action="StockRequest" class="w3-bar-item w3-button">Stock Request</a>
  <a asp-area="" asp-controller="Owner" asp-action="Owner" class="w3-bar-item w3-button">Owner Inventory</a>
  <a asp-area="" asp-controller="Owner" asp-action="ResetStock" class="w3-bar-item w3-button">Reset Stock</a>
     
</div>

<div class="round-container">

<div id="main">

<div class="w3-teal">
  <button id="openNav" class="w3-button w3-teal w3-xlarge" onclick="w3_open()">&#9776;</button>
  <div class="w3-container">
    <h1>Owner</h1>
  </div>
</div>

<img src="~/images/cars.jpg" alt="Cars" style="width:100%">

</div>
        </div>

<script>
function w3_open() {
  document.getElementById("main").style.marginLeft = "25%";
  document.getElementById("mySidebar").style.width = "21%";
  document.getElementById("mySidebar").style.padding = "20px";
  document.getElementById("mySidebar").style.display = "block";
  document.getElementById("openNav").style.display = 'none';
}
function w3_close() {
  document.getElementById("main").style.marginLeft = "0%";
  document.getElementById("mySidebar").style.display = "none";
  document.getElementById("openNav").style.display = "inline-block";
}
</script>
    <style>
        .round-container{

            border-radius: 25px;
           background-position: left top;
           background-repeat: repeat;
           padding: 20px; 
    
        }
        .w3-sidebar{
        background-color: beige;
        }
        </style>

</body>