<h1>You have successfully paid the amount! Your order is on it's way!<strong></strong></h1>


 <style>
    .btn-default {
    color: beige;
    background-color: teal;
    border-color: #ccc;
}

    h1,h4{
    color: #008080;
    text-align:center;
    } 
</style>