@using Microsoft.Extensions.Options
@model ShoppingCartViewModel


<form action="/Checkout/Charge" method="POST">
  <article>

  </article>
  <script src="//checkout.stripe.com/v2/checkout.js"
          class="stripe-button"

          data-key="pk_test_wsBs97diADKDvCl12yHJAtPE"
          data-locale="auto"
          data-description="Sample Charge"
       
         
          data-amount="@ViewBag.Amount*100">
  </script>
</form>